body {
  margin: 0;
  padding: 0;
}

  h1 {
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 1000;
    background: #8a6a45;
    padding: 15px 20px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 30px;
    color: #f3f3f3;
    max-width: 400px;  
    width: fit-content;
    line-height: 1.6;
}

  h2 {
    position: absolute;
    top: 540px;
    left: 20px;
    z-index: 1000;
    background: #e5dbb7e6;
    padding: 15px 20px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 12px;
    color: #1b120771;
}


  .footer-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 1000;
  background: #e5dbb7e6;
  padding: 10px 15px;
  margin: 0;
  border-radius: 6px;
  box-shadow: 6 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 12px;
  color: #1a100371;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; 
  filter: sepia(0.1) saturate(0.7) contrast(1.1); 
}


#map::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?_gl=1*g4l0xd*_ga*MTkxODYwMTcyOS4xNzYyNTc3NDYx*_ga_8JE65Q40S6*czE3NjI1Nzc0NjEkbzEkZzEkdDE3NjI1Nzc0ODQkajM3JGwwJGgw');
  background-repeat: repeat;
  opacity: 0.2;
  pointer-events: none;
  mix-blend-mode: multiply;
  z-index: 1;
}


.mapboxgl-popup-content {
  font-family: 'Georgia', 'Times New Roman', serif;
  color: #3a2f1b;
  background: #faf8f2;
  border: 1px solid #b9a27a;
  border-radius: 6px;
  padding: 12px;
}

.compass {
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-size: 90px;
  color: #583711;
  opacity: 0.7;
  z-index: 100;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  pointer-events: none;

}